#conteudo {
    background: red;
    border: 5px solid black;
    width: 200px;
    height: 200px;
    color: antiquewhite;
    font-size: 30px;
    float: left;
    margin: 10px;
}


#conteudo2 {
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 300px;
    color: antiquewhite;
    font-size: 30px;
    float: left;
    margin: 10px;
}

/*

#conteudo3 {
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    color: antiquewhite;
    font-size: 30px;
    float: unset;
}
*/

.quatro {
    background: blue;
    border: 1px solid gray;
    width: 200px;
    height: 200px;
    color: antiquewhite;
    font-size: 30px;
    float: left;
    margin: 10px;
}

.clear {
    clear: left;
}